@page "/"

<PageTitle>dotnet.watch</PageTitle>

<h1>
    <code>&gt; dotnet watch</code>    
</h1>

<div>
    <h4>
        Watch
        <a href="https://live.dot.net">
            <i class="bi bi-tv-fill"></i>
        </a>
        <a href="https://live.dot.net">
            live.dot.net
        </a>
    </h4>
    <h4>
        Learn about
        <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch">
            <code>dotnet watch</code>
        </a>    
    </h4>
    <h4>
        Run .NET 
        <a href="https://www.hanselman.com/blog/exclusive-sneak-peek-the-agent-smart-watch-emulator-and-managed-net-code-on-my-wrist">
            <em>on a watch?</em>
        </a>
    </h4>
    <h4>
        Watch <a href="https://github.com/dotnet/core/releases">.NET Releases</a>
    </h4>
    <h4>
        Improve this .NET Blazor app on 
        <a href="https://github.com/IntBasis/dotnet.watch">Github</a>
    </h4>
</div>
