@page "/"

<PageTitle>dotnet.watch</PageTitle>

<h1>Hello, .NET!</h1>

<div>
    <h4>
        Watch
        <a href="https://live.dot.net">
            <i class="bi bi-tv-fill"></i>
        </a>
        <a href="https://live.dot.net">
            live.dot.net
        </a>
    </h4>
</div>

<div>
    <h4>
        Contribute on 
        <a href="https://github.com/IntBasis/dotnet.watch">Github</a>
    </h4>
</div>
